name: Deploy HTML Files to S3

on:
  push:
    branches:
      - master
    paths:
      - "*.html"

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::692809225052:role/GitHubActionsRoleFeedbackflowS3Deploy
          aws-region: us-east-1

      - name: Upload HTML files to S3
        run: |
          aws s3 sync . s3://${{ secrets.S3_BUCKET_NAME }} \
          --exclude "*" \
          --include "*.html"
